<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.silen_dev.sarcoidosis.dao.UserDao">
    <select id="getUserByUserName" parameterType="String" resultType="cn.silen_dev.sarcoidosis.model.User">
        SELECT id,username,password,createTime,nickname,enabled from User where username=#{name,jdbcType=VARCHAR}
    </select>
    <insert id="insertUser" parameterType="cn.silen_dev.sarcoidosis.model.User">
        INSERT INTO User(nickname,username,password,createTime) VALUES (#{nickname,jdbcType=VARCHAR},#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{createTime})
    </insert>
</mapper>